<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meewii.mentalarithmetic">

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.nav.HomeActivity"
            android:label="@string/activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.nav.PickOperationTypeNavActivity"
            android:label="@string/activity_pick_operation_type"
            android:parentActivityName=".ui.nav.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nav.HomeActivity"/>
        </activity>

        <activity
            android:name=".ui.nav.PickDifficultyNavActivity"
            android:label="@string/activity_pick_difficulty"
            android:parentActivityName=".ui.nav.PickOperationTypeNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nav.PickOperationTypeNavActivity"/>
        </activity>

        <activity
            android:name=".ui.operations.OperationActivity"
            android:label="@string/activity_main"
            android:parentActivityName=".ui.nav.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nav.HomeActivity"/>
        </activity>

        <activity
            android:name=".ui.activities.CreditsActivity"
            android:label="@string/activity_credits"
            android:parentActivityName=".ui.nav.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nav.HomeActivity"/>
        </activity>

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/activity_settings"
            android:parentActivityName=".ui.nav.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nav.HomeActivity"/>
        </activity>

        <activity
            android:name=".ui.score.ScoreActivity"
            android:label="@string/activity_score"
            android:parentActivityName=".ui.nav.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.nav.HomeActivity"/>
        </activity>

    </application>

</manifest>