<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.meewii.mentalarithmetic">

    <application
        android:name=".core.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".modules.nav.views.HomeNavActivity"
            android:label="@string/activity_home"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.nav.views.PickOperatorNavActivity"
            android:label="@string/activity_pick_operation_type"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".modules.nav.views.HomeNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.nav.views.HomeNavActivity"/>
        </activity>

        <activity
            android:name=".modules.nav.views.PickDifficultyNavActivity"
            android:label="@string/activity_pick_difficulty"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".modules.nav.views.PickOperatorNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.nav.views.PickOperatorNavActivity"/>
        </activity>

        <activity
            android:name=".modules.game.training.TrainingGameActivity"
            android:label="@string/activity_training_game"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".modules.nav.views.PickDifficultyNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.nav.views.PickDifficultyNavActivity"/>
        </activity>

        <activity
            android:name=".modules.game.scored.ScoredGameActivity"
            android:label="@string/activity_scored_game"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".modules.nav.views.HomeNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.nav.views.HomeNavActivity"/>
        </activity>

        <activity
            android:name=".modules.game.started.StartedGamesActivity"
            android:label="@string/activity_started_game"
            android:screenOrientation="portrait"
            android:configChanges="orientation"
            android:parentActivityName=".modules.nav.views.HomeNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.nav.views.HomeNavActivity"/>
        </activity>

        <activity
            android:name=".modules.staticpage.CreditsActivity"
            android:label="@string/activity_credits"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".modules.nav.views.HomeNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.nav.views.HomeNavActivity"/>
        </activity>

        <activity
            android:name=".modules.statistics.views.StatsActivity"
            android:label="@string/activity_stats"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".modules.nav.views.HomeNavActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.nav.views.HomeNavActivity"/>
        </activity>

        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="${HOCKEYAPP_APP_ID}" />

    </application>

</manifest>